@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

:root {
    margin: 5px;
    padding: 0;
    border: none;
    border-style: none;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}