@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    height: 3px;
    width: 3px;
    background: oklch(var(--n));
}

::-webkit-scrollbar-thumb {
    background: oklch(var(--p));
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: oklch(var(--a));
}

html {
    scroll-behavior: smooth;
}

:root {
    margin: 5px;
    padding: 0;
    border: none;
    border-style: none;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.slick-slide>div {
    margin: 0 10px;
}